<div class="container">
<table class="table is-fullwidth">
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Date</th>
  </thead>
  <tbody>
    <% transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
