<div class="level-left mt-4">
  <a href="/transactions/create" class="button is-primary">Add Transaction</a>
</div>

<div class="columns mt-4">

  <div class="column is-one-fifth">
    <nav class="panel">
      <p class="panel-heading">
        Tags
      </p>
      <a class="panel-block has-text-danger" href="/transactions">Clear Tags</a>
      <div class="panel-block">
        <div class="field">
          <div class="select is-multiple">
            <select id="tagselect" name="transaction_tag[]" form="tagform" multiple size="10">
              <% tag_index.values.flatten.map(&:name).uniq.sort.each do |a| %>
                <option value="<%= a %>"><%= a %></option>
              <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="panel-block">
        <form id="tagform">
          <div class="field">
            <label class="radio" for="union">Union</label>
            <input type="radio" name="intersection" value="false" checked />
            <label class="radio" for="intersection">Intersection</label>
            <% if @is_tag_intersection %>
              <input type="radio" name="intersection" value="true" checked />
            <% else %>
              <input type="radio" name="intersection" value="true" />
            <% end %>
          </div>

          <button class="button is-link is-small" type="submit">Filter to these tags</button>          
        </form>
      </div>
      <div class="panel-block">
        <form action="/transaction_tag_sets" formmethod="POST">
          <div class="field">
            <label class="label" for="title">Tag Set Name</label>
            <input class="input" type="text" name="title" />
          </div>
          <button class="button is-primary is-small" type="submit" formaction="/transaction_tag_sets" formmethod="POST">
            Save as Tag Set
          </button>
        </form>
      </div>
    </nav>
  </div>
  
  <div class="column">
    <%= erb :transaction_table, locals: { transactions: data, tag_index: tag_index } %>
  </div>
</div>
