<div class="container">
  <% pay_periods.each do |period| %>
    <div class="block">
      <%= "#{period.date_range.begin} - #{period.date_range.end}" %>
      <table class="table is-fullwidth">
        <thead>
          <th>Name</th>
          <th>Amount</th>
          <th>Date</th>
        </thead>
        <tbody>
          <% (period.incomes + period.transactions).each do |transaction| %>
            <tr>
              <td><%= transaction.name %></td>
              <td><%= transaction.amount %></td>
              <td><%= transaction.date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
