<div class="tile is-ancestor">
  <div class="tile is-vertical is-parent">
    <div class="container">
      <a href="/transactions/create" class="button is-child is-primary">New Transaction</a>
    </div>
    <div class="tile is-child">
      <div class="tile is-parent mt-6">
        <div class="tile is-3 is-child pr-6">
          <nav class="panel is-primary">
            <p class="panel-heading">
              Tags
            </p>
            <a class="panel-block" href="/transactions">Clear Tags</a>
            <% tag_index.values.flatten.uniq(&:name).each do |tag| %>
              <a class="panel-block is-active" href="/transactions?transaction_tag=<%= tag.name %>">
                <%= tag.name %>
              </a>
            <% end %>
          </nav>
        </div>
        <div class="tile is-child">
          <%= erb :transaction_table, locals: { transactions: data, tag_index: tag_index } %>
        </div>
      </div>
    </div>
  </div>
</div>
