<div class="tile is-ancestor mt-6">
  <div class="tile is-3">
    <nav class="panel is-primary">
      <p class="panel-heading">
        Tags
      </p>
      <a class="panel-block" href="/transactions">Clear Tags</a>
      <% tag_index.values.flatten.uniq(&:name).each do |tag| %>
        <a class="panel-block is-active" href="/transactions?transaction_tag=<%= tag.name %>">
          <%= tag.name %>
        </a>
      <% end %>
    </nav>
  </div>
  <div class="tile">
    <%= erb :transaction_table, locals: { transactions: data, tag_index: tag_index } %>
  </div>
</div>
