<h1 class="title">Transaction: <%= @transaction.name %></h1>
<form 
  action="/transaction_tags" 
  method="<%= form_action(interactions[:tag_transaction]) %>"
>
  <%= input_field(interactions[:tag_transaction], :name) %>

  <div class="field">
    <input class="input is-hidden" name="transaction_id" value="<%= @transaction.id %>"></input>
    <button class="button is-primary" type="submit">Tag Transaction</button>
  </div>
</form>
