<form id="tagsetform">
  <div class="panel-block is-flex-direction-column">
    <div class="field">
      <select class="select" id="tagsettagselect" name="transaction_tag_set[]" form="tagsetform">
        <% tag_sets.each do |tag_set| %>
          <option value="<%= tag_set.id %>"><%= tag_set.title %></option>
        <% end %>
      </select>
    </div>
    <div class="field">
    <button class="button is-link is-small" type="submit">Filter To This Tag Set</button>
    </div>
  </div>
</form>