<div class="columns">
  <div class="column">
    <h1 class="title is-4"><%= title %></h1>
  </div>
  <div class="column">
    <span class="level-right">
      <a href="<%= interactions[:new_transaction][:name] %>" class="button is-primary">Add Transaction</a>
    </span>
  </div>
</div>