<div class="container">
  <h1 class="title">Create Scenario</h1>
  <form 
    action="<%= interactions[:create_scenario][:name] %>" 
    method="<%= form_action(interactions[:create_scenario]) %>"
  >
    <%= input_field(interactions[:create_scenario], :name) %>
    <%= select_field(interactions[:create_scenario], :clone_from, scenarios) %>

    <button class="button is-primary" type="submit">Create Scenario</input>
  </form>
</div>